<h1>New Game</h1>
<p>What is the longest word you can find?</p>
<ul>
  <% @letters.each do |letter| %>
    <li style="display: inline"><%= letter %></li>
  <% end %>
</ul>

<form action="score" method="POST">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="word">
  <input type="submit" value="Play!">
</form>
